.contain {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 193px 0;
    text-align: center;
    border-radius: 5px;
}

.contain:hover .overlay {
    opacity: 1;
}